


*{
    background-color: rgb(34, 34, 34);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;

}
a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }

.container{
    color: rgba(253,184,51,255)
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border: 2px solid #ffffff;
    padding: 5%;
    border-radius: 50px;
    margin: 2%;
    background-size: cover;
  background-position: center;
  /* animation: fadeImages 10s; */

}
@keyframes fadeImages {
  0% { opacity: 1; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 0; }
}
.navbar .navbar-top{
    /* background-color: rgba(0,0,0,0); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
/* .navbar .navbar-top h1,.navbar .navbar-top p{
  background-color: rgba(0,0,0,0);
} */
.navbar .navbar-top img{
    width: 20%;
    /* background-color: rgba(0,0,0,0); */

}
.navbar .navbar-top .social{
  /* background-color: rgba(0,0,0,0); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom:8%;
  padding: 2%;
}
.navbar .navbar-top .social a{
  /* background-color: rgba(0,0,0,0); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
}
.navbar .navbar-top .social a img{
  width: 25%;
  border: 1px solid white;
  border-spacing: 10px;
  border-radius: 50%;
  min-width: 20px;
}
.navbar-bottom{
  /* background-color: rgba(0,0,0, 0); */
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 65%;
}
.navbar-bottom button{
    margin: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #a5a5a5;
    cursor: pointer;
    transition: border-color 0.25s;

}

  button:hover {
    border-color: gold;
    color: gold;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .story{
    color: white;
    padding: 5%;
    font-size: 150%;
    line-height: 1.5cm;
  }